<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="top-header"></div>
    <div class="container">
        <div class="navbar-header">
            <span class="span-1">OUR</span>
            <span class="span-2">Restaurant</span>
            <span class="span-3">Energy Management Portal</span>
        </div>
        <div class="navbar-right">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="bottom-header"></div>
</div>
