<h2 class="top20">Command History</h2>
<table id="command-history-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-3">Command Name</th>
            <th class="col-md-3">Result</th>
            <th class="col-md-3">UTC Time Created</th>
            <th class="col-md-3">UTC Time Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Set Temperature</td>
            <td>Success</td>
            <td>12/18/2015 04:32:13</td>
            <td>12/18/2015 04:33:13</td>
        </tr>
    </tbody>
</table>

